@use "variables" as *;
@use "helpers" as *;

body,
html {
  margin: 0;
  font-size: $base-size;
  font-family: var(--font-inter);
  background-color: var(--color-obsidian);
  color: var(--color-ivory);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
}
