@use "variables" as *;
@use "helpers" as *;

body,
html {
  margin: 0;
  font-size: $base-size;
  font-family: var(--font-mont);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
}
