:root {
  --font-mont: 'Montserrat', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;

  --color-obsidian: #211e20;
  --color-slate: #555568;
  --color-sage: #a0a08b;
  --color-ivory: #e9efec;

  --color-border: #333;
  --color-black: #111;
}
