package layouts

templ AppLayout(title string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<title>{ title }</title>
			<link rel="stylesheet" href="/static/css/app.css?v=4"/>
			<script src="/static/js/app.js" defer></script>
			<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js" integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V" crossorigin="anonymous"></script>
		</head>
		<body>
			<main class="loop-app">
				@Sidebar()
				<section class="loop-body">
					{ children... }
				</section>
			</main>
		</body>
	</html>
}
