package layouts

templ Sidebar() {
	<aside class="loop-sidebar">
		<ul class="menu-list">
			<li class="menu-list--item"><a href="#"><i data-lucide="square-pen" width="16" height="16"></i> New scene</a></li>
			<li class="menu-list--item"><a href="#"><i data-lucide="search" width="16" height="16"></i> Search scenes</a></li>
			<li class="menu-list--item"><a href="#"><i data-lucide="users" width="16" height="16"></i> Characters</a></li>
		</ul>
		<h2 class="pascal">Scenes</h2>
	</aside>
}
